<!-- predict/templates/game.html -->
{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    {% block extra_js %}
        <script src="{% static 'js/game.js' %}"></script>
    {% endblock extra_js %}
    <div class="bg-gray-100 min-h-screen pt-3 flex">
        <div class="max-w-7xl mx-auto space-y-6 w-full px-4">
            <!-- Contenedor Principal con Flex -->
            <div class="flex flex-col lg:flex-row gap-6 h-[300px]">
                <!-- Tarjeta de Parámetros - 25% -->
                <div class="bg-white rounded-lg shadow-lg p-6 basis-1/4">
                    <h2 class="text-2xl  font-bold text-spin-primary mb-4">Parámetros</h2>
                    {% if parametros %}
                        <div class="grid grid-cols-1 gap-4">
                            <div>
                                <span class="font-medium text-gray-600">Tipo de Ruleta:</span>
                                <span class="ml-2 text-gray-800">{{ parametros.type_roulette }}</span>
                            </div>
                            <div>
                                <span class="font-medium text-gray-600">Límite de Juegos:</span>
                                <span class="ml-2 text-gray-800">{{ parametros.limite_games }}</span>
                            </div>
                            <div>
                                <span class="font-medium text-gray-600">Cant. de Vecinos:</span>
                                <span class="ml-2 text-gray-800">{{ parametros.neighbors }}</span>
                            </div>
                            <div>
                                <span class="font-medium text-gray-600">Probabilidad:</span>
                                <span class="ml-2 text-gray-800">{{ parametros.probability }}%</span>
                            </div>
                        </div>
                    {% else %}
                        <p>No hay parámetros configurados.</p>
                    {% endif %}
                    <div class="mt-4">
                        <a href="{% url 'predict:parameters' %}"
                           class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                            Configurar
                        </a>
                    </div>
                </div>
                <!-- Tarjeta de Estadísticas - 25% -->
                <div class="bg-white rounded-lg shadow-lg p-6 basis-1/4">
                    <h2 class="text-2xl font-bold text-spin-primary mb-4">Estadísticas del Juego</h2>
                    {% if estadisticas %}
                        <div class="grid grid-cols-1  gap-4">
                            <div class="flex items-center">
                                <span class="font-medium text-gray-600">Juegos Totales:</span>
                                <span class="ml-2 text-gray-800">{{ estadisticas.juegos_totales }}</span>
                            </div>
                            <div class="flex items-center">
                                <span class="font-medium text-gray-600">Aciertos:</span>
                                <span class="ml-2 text-gray-800">{{ estadisticas.aciertos }}</span>
                            </div>
                            <div class="flex items-center">
                                <span class="font-medium text-gray-600">Porcentaje de Aciertos:</span>
                                <span class="ml-2 text-gray-800">{{ estadisticas.porcentaje_aciertos }}%</span>
                            </div>
                            <div class="flex items-center">
                                <span class="font-medium text-gray-600">Último Juego:</span>
                                <span class="ml-2 text-gray-800">{{ estadisticas.ultimo_juego }}</span>
                            </div>
                        </div>
                    {% else %}
                        <p>No hay estadísticas disponibles.</p>
                    {% endif %}
                </div>
                <!-- Tarjeta de Números - 50% -->
                <div class="bg-white rounded-lg shadow-lg p-6 basis-2/4">
                    <h2 class="text-2xl font-bold text-spin-primary mb-4">Números salidos</h2>
                    <!-- Mostrar Números Guardados -->
                    {% if numeros %}
                        <div class="h-[200px] overflow-y-auto">
                            <ul class="grid grid-cols-4 sm:grid-cols-6 md:grid-cols-8 gap-2">
                                {% for numero in numeros %}
                                    <li class="{% if forloop.first %}animate-fadeIn{% endif %} numero {% if numero == 0 %}bg-green-500 text-white{% elif numero in black_numbers %}bg-black text-white{% else %}bg-red-500 text-white{% endif %} rounded-full w-8 h-8 md:w-8 md:h-8 flex-shrink-0 flex items-center justify-center text-sm md:text-base">
                                        {{ numero }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% else %}
                        <h3 class="text-gray-600">No hay números jugados.</h3>
                    {% endif %}
                </div>
            </div>
            <!-- Segunda fila -->
            <div class="flex flex-col lg:flex-row gap-6">
                <!-- Tarjeta de Predicción - ancho completo -->
                <div class="bg-white rounded-lg shadow-lg p-6 w-full">
                    <h2 class="text-2xl font-bold text-spin-primary mb-4">Realizar Predicción</h2>
                    <!-- Mostrar Resultado -->
                    {% if resultado %}<div class="mb-4 p-4 bg-blue-100 border-l-4 border-blue-500">{{ resultado }}</div>{% endif %}
                    <!-- Formulario de Predicción -->
                    <form method="post">
                        {% csrf_token %}
                        <!-- Campo Número -->
                        <div class="mb-4">
                            {{ form_prediccion.username.label_tag }}
                            {% render_field form_prediccion.username class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %}
                            {% if form_prediccion.username.errors %}
                                <p class="text-red-500 text-xs italic">{{ form_prediccion.username.errors.0 }}</p>
                            {% endif %}
                        </div>
                        <!-- Botones -->
                        <div class="flex items-center space-x-2">
                            <button type="submit"
                                    name="action"
                                    value="predict"
                                    class="bg-spin-primary hover:bg-spin-primary/80 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                                Predecir
                            </button>
                            <button type="submit"
                                    name="action"
                                    value="delete"
                                    class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                                Borrar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
