{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Your description here" />
        <meta name="keywords" content="spin predict , predictor ruleta" />
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              "spin-primary": "#1a365d",
              "spin-secondary": "#2563eb",
            },
          },
        },
      };
        </script>
    </head>
    <body class="bg-gray-100">
        {% include "navbar.html" %}
        <main class="container mx-auto px-4 py-8">
            {% block content %}
            {% endblock content %}
        </main>
    </body>
</html>
